body {
    background-color: #fff;
}

.container-content {
    display: flex;
    padding: 1rem;
}

.list-surah {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 35px;
    list-style-type: none;
    float: left;
    border: solid 5px #048b04;
    background-color: #195d11;
    margin-top: 1rem;
    width: 200px;
    height: 100px;
    border-radius: 25px;

}

.nama-surah {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 200px;
    height: 100px;
    padding-right: 1rem;
}

.navbar-brand {
    margin-left: 3rem;
}


@media (min-width: 575px) {

    .container-fluid {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .container-content {
        margin-top: 1rem;
        margin-left: 12rem;
        margin-right: 12rem;
        border-radius: 25px;
        -webkit-box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.75);
    }

    .list-surah {
        margin: .2rem;
    }
}