.previous, .next {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.previous {
    position: static;
    left: 0;
}

.next {
    position: static;
    right: 0;
}
